p {
    color: #FF3333;                     /* 设置字体颜色 */
    font-weight: bold;                  /* 设置字体加粗 */
    border-bottom: 3px dashed #009933;  /* 设置下边框线 */
    line-height: 30px;                  /* 设置行高 */
}