h3 {
    font-weight: normal;        /* 取消标题默认加粗效果 */
    background-color: #66CC99;  /* 设置背景色 */
    height: 50px;               /* 设置标签的高度 */
    line-height: 50px;          /* 设置标签的行高 */
}

span {
    color: #FF0000;       /* 设置字体颜色 */
    font-weight: bold;    /* 设置字体加粗 */
}
